@mixin breakpoint($bp) {

  @if $bp==mobil {
    @media (min-width:$bp_mobil){
      @content;
    }
  }

  @if $bp==tablet {
    @media (min-width:$bp-tablet) {
      @content;
    }
  }

  @if $bp==desktop {
    @media (min-width:$bp-desktop){
      @content;
    }
  }

  @if $bp==desktopxl {
    @media (min-width:$bp-desktop-xl){
      @content;
    }
  }
}

//heading typography
@mixin heading($size) {
  font-family: $tipography-title;
  @if $size == XL {
    font-size: 96px;
    line-height: 88px;
    font-weight: 900;
  }
  @else if $size == L {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
  }
  @else if $size == M {
    font-size: 60px;
    line-height: 55px;
    font-weight: 900;
  }
  @else if $size == S {
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
  }
}

//body typography
@mixin body($size) {
  font-family: $tipography-text;
  color:$color-grey;
  @if $size == M {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }
  @else if $size == S {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

