$roboto-font: 'Roboto', sans-serif; 

//breakpoints   
$bp-mobile:375px;
$bp-tablet:768px;
$bp-tablet-horizontal:1024px; 
$bp-desktop:1200px;
$bp-desktop-xl:1440px;

//colors
$color-brown:#D5966C;
$color-black:#151515;
$color-grey:#444444;
$color-white:#FFFFFF;

//typographys
$tipography-title:"Big Shoulders", sans-serif;
$tipography-text:"Outfit", sans-serif;